<nav class="navbar navbar-light bg-body-tertiary">
  <div class="container-fluid container">
    <a class="navbar-brand fs-4 fw-semibold">Users</a>
    <form class="d-flex flex-column input-group w-auto position-relative">
      <input #search (keyup)="usersSearch(search.value)" type="search" class="form-control w-100 rounded"
        placeholder="Enter user ID" aria-label="Search" aria-describedby="search-addon" />
      <div *ngIf="userExist">
        <div [routerLink]="user.id" class="position-absolute border border-primary-subtle w-100 rounded drop-down"
          role="button" *ngFor="let user of userSearchResult">
          <div class="d-flex align-items-center">
            <div class="rounded-circle" [style.background-image]="'url(' + user.avatar + ')'">
            </div>
            <span class="fw-bold ms-3">{{user.first_name}} {{user.last_name}}</span>
          </div>
        </div>
      </div>
      <div class="position-absolute border border-primary-subtle w-100 rounded drop-down not-found"
        *ngIf="userNotExist">
        No results found
      </div>
    </form>
  </div>
</nav>